@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: rgb(255, 152, 0);
  background: rgb(32, 35, 41);
}

html {
  font: 112.5%/1.625 -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  overflow-y: scroll;
}
.hero-image {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
}
.hero-image svg {
  fill: rgb(245, 245, 245);
  height: 100%;
  width: 100%;
}
.logo-wrapper svg {
  fill: rgb(51, 51, 51);
}
.image-wrapper {
  flex: 2 1 0%;
}

.info-section {
  flex: 3 1 0%;
}
a:hover{
color: rgb(255, 152, 0);
}